
{% extends 'base_main.html' %}

{% block title %}
    爱家-发布新房源
{% endblock %}

{% block extCss %}
    {{ super() }}
    <link href="/static/css/ihome/newhouse.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="top-bar">
            <div class="nav-bar">
                <h3 class="page-title">发布新套房</h3>
                <a class="nav-btn fl" href="/house/my_house/"><span><i class="fa fa-angle-left fa-2x"></i></span></a>
            </div>
        </div>
        <div class="houses-con">
        <ul class="houses-list">
            <form id="form-house-info">
                <li>
                    <div class="house-title">
                        <h3>基本信息</h3>
                    </div>
                    <div class="house-content">
                        <div class="form-group">
                            <label for="house-title">房屋标题</label>
                            <input type="text" class="form-control" name="title" id="house-title" required>
                        </div>

                         <div class="form-group">
                            <label for="house-acreage">面积(平方)</label>
                            <input type="number" class="form-control" name="acreage" id="house-acreage" required>
                        </div>

                        <div class="form-group">
                            <label for="house-price">价格(元/月)</label>
                             <div class="form-inline">
                                <input type="number" class="form-control" name="price" id="house-price" required>
                                  <select class="form-control" id="pre_unit" name="unit" style="width: 10%">
                                             <option value="元/年">元/年</option>
                                             <option value="元/月">元/月</option>
                                         </select>
                             </div>
                        </div>


                        <div class="form-group">
                                <label for="city-id">所在城市</label>
                                <select class="form-control" id="city-id" name="city_id"></select>
                        </div>
                        <div class="form-group">
                            <label for="area-id">所在区</label>
                            <select class="form-control" id="area-id" name="area_id"></select>
                        </div>

                         <div class="form-group">
                            <label for="street-id">所在街道</label>
                            <select class="form-control" id="street-id" name="street_id"></select>
                        </div>

                         <div class="form-group">
                            <label for="village-id">所在村</label>
                            <select class="form-control" id="village-id" name="village_id"></select>
                        </div>

                        <div class="form-group">
                            <label for="house-address">详细地址</label>
                            <textarea class="form-control" name="address" id="house-address" required></textarea>
                        </div> 
                    </div>
                </li>
                <li>
                    <div class="house-title">
                        <h3>详细信息</h3>
                    </div>
                    <div class="house-content">
                        <div class="form-group">
                            <label for="house-room-count">出租房间数目</label>
                            <input type="number" class="form-control" name="room_count" id="house-room-count" required>
                        </div>
                         <div class="form-group">
                            <label for="cook-bath-room-id">厨卫设施</label>
                            <select class="form-control" id="cook-bath-room-id" name="cook-bath-room">
                             <option value="single">独立厨卫</option>
                             <option value="share">公共厨卫</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cook-bath-room-id">朝向</label>
                            <select class="form-control" id="derection-id" name="direction">
                                 <option value="east">东</option>
                                 <option value="south">南</option>
                                 <option value="west">西</option>
                                 <option value="north">北</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="form-inline floor-span">
                              <label for="floor-id">所处楼层</label>
                                <select class="form-control" id="floor-id" name="floor">
                                     <option value="1">一楼</option>
                                     <option value="2">二楼</option>
                                     <option value="3">三楼</option>
                                     <option value="4">四楼</option>
                                     <option value="5">五楼</option>
                                     <option value="6">六楼</option>
                                     <option value="7">七楼</option>


                                </select>


                                <label for="total-floor-id">共几层</label>
                                <select class="form-control" id="total-floor-id" name="total-floor">
                                     <option value="1">一层</option>
                                     <option value="2">二层</option>
                                     <option value="3">三层</option>
                                     <option value="4">四层</option>
                                     <option value="5">五层</option>
                                     <option value="6">六层</option>
                                     <option value="7">七层</option>


                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="house-desc">详细描述</label>
                            <input type="text" class="form-control" name="unit" id="house-desc" placeholder="如：三室两厅两卫" required>
                        </div>


                    </div>
                </li>
                <li>
                    <div class="house-title">
                        <h3>配套设施</h3>
                    </div>
                    <div class="house-content">
                        <ul class="house-facility-list clearfix"></ul>
                    </div>
                </li>
                <input type="submit" class="btn btn-success btn-commit" value="发布房源信息">
                <div class="error-msg text-center"><i class="fa fa-exclamation-circle"></i>请将全部信息填写完整后再提交</div>
            </form>
            <form id="form-house-image"  enctype="multipart/form-data">
                <input type="hidden" name="house_id" id="house-id" value="">
                <li>
                    <div class="house-title">
                        <h3>添加图片</h3>
                    </div>
                    <div class="house-content">
                        <div class="house-image-cons">
                        </div>
                        <div class="form-group">
                            <label for="house-image">选择图片</label>
                            <input type="file" accept="image/*" name="house_image" id="house-image">
                        </div>
                        <input type="submit" class="btn btn-success" value="上传">
                    </div>
                </li>
            </form>
        </ul>
        </div>
        <div class="popup_con">
            <div class="popup">
                <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
            </div>
            <div class="mask"></div>
        </div>
        <div class="footer">
            <p><span><i class="fa fa-copyright"></i></span>爱家租房&nbsp;&nbsp;享受家的温馨</p>
        </div> 
    </div>
{% endblock %}

{% block extJs %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/static/js/ihome/newhouse.js"></script>
{% endblock %}